.box{

    background-color: grey;
    width: 500px;
    height: 600px;
    position:absolute;
    left: 50%;
    top: 10%;
    border-radius: 10px;

}

.Button{

  background-color: #7c7e80;
  border-style: solid;
  color: orange;
  height: 100px;
  width: 100px;
  font-size: 40px;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  border-color: orange;

  position: relative;
  top: 80px;
  left: 11%;

}

.box2{
  width: 500px;
  height: 100px;
  background-color: #737373;
  
}
