.Keypad{

    width: 360px;
    height: 400px;
    background-color: rgb(32, 43, 54);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    position: absolute;
    left: 30%;
    top: 29%;

}