.DisplayTop{

    width: 360px;
    height: 120px;
    background-color: rgb(32, 43, 54);
    color: white;
    font-size: 40px; 
    font-family: century-gothic, sans-serif;
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 10%;
    left: 30%;
}
